.side-panel[data-v-ee541001]{border-right:1px solid #fff;display:flex;flex-direction:column;justify-content:center;min-width:240px;padding-left:25px}.side-panel .v-avatar[data-v-ee541001]{padding-top:100%;width:100%}.side-panel .v-avatar>*[data-v-ee541001]{position:absolute;top:0}.side-panel .v-icon[data-v-ee541001]{margin-right:10px}.v-container[data-v-ff582acb]{margin-left:0}a{color:#66b}.heading-underline{margin-bottom:10px;position:relative}.heading-underline:after{background-color:rgb(var(--v-theme-secondary));bottom:0;content:"";height:2px;left:0;position:absolute;right:0;width:30%}
