.skills[data-v-145eac36]{display:flex;flex-flow:row wrap;max-width:100%}.skill[data-v-145eac36]{display:flex;justify-content:center;position:relative}.skill .v-btn[data-v-145eac36]{height:55px;margin:5px;padding:10px;transition:.3s;width:55px}.skill .v-btn[data-v-145eac36] img{max-width:100%}.skill .v-btn[data-v-145eac36]:hover{height:60px;margin:0 2.5px;width:60px}.skill .v-btn:hover+.name[data-v-145eac36]{display:block}.skill .name[data-v-145eac36]{border-radius:5px;display:none;font-size:13px;padding:5px;position:absolute;top:-30px;white-space:nowrap}
